# Set default behavior to automatically normalize line endings
* text=auto

# Declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg binary

# Ensure shell scripts use LF
*.sh text eol=lf
